body{
    margin: 0;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .5s;
}
.card{
    width: 350px;
    height: 660px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
#left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
#icon,#sun,#moon{
    font-size: 1.5em;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
section p{
    font-size: 1.3em;
}


legend{
    font-size: small;
    color:rgb(14, 241, 75)
}
fieldset{
    border-radius: 10px;
    margin: 1em;
    margin-top: 5px;
}
input{
    background-color: transparent;
    color: white;
    border:none;
    width: 280px;
    font-size: small;
}
input:focus{
    outline: 0;
}
button{
    width: 130px;
    height: 40px;
    background-color: rgba(160, 242, 210, 0.847);
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    color: white;
    box-shadow: 3px 3px 3px gray;
    transition: transform linear .5s;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: rgba(9, 231, 42, 0.847);
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}